@mixin flexible($width) {
  display: flex;
  width: $width;
}

@mixin gridable($width) {
  display: grid;
  width: $width;
}

@mixin button() {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

@mixin unmarkedList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin defaultLink {
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease;
  position: relative;
  &:hover {
    color: $color-text-main;
  }
}
