$max-width: 1080px;
$color-bg-main: #121212;
$color-bg-element: #2a2a2a;
$color-bg-loader: #f3f3f3;
$color-text-main: #ffffff;
$color-link-main: #cccccc;
$color-text-error: #ff0000;
$header-height: 80px;

$desktop: 1024px;
$tablet-large: 900px;
$tablet: 768px;
$tablet-small: 640px;
$smartphone: 480px;
